@{
    ViewData["Title"] = "Производство товаров";
}

<body>
    <style>
        h1 {
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            top: 100px;
            text-align: center;
            width: 100%;
            color: aqua;
        }

        .image {
            left: 0;
            position: relative;
            width: 100%; /* for IE 6 */
            background-color:#a99494;
        }

        #img {
            width: 100%;
            text-align: left;
        }
        body{
            background-color:#b1afaf;
        }
        .display-4{
            background-color:#9a8585;
        }
    </style>
    <div class="image">
        <h1 class="display-4">Предприятия по производству кондитерских изделий</h1>
        <img src="/lib/3.jpg" id="img">
    </div>
</body>

