@model Enterprises_manufacturing_goods.PurchaseOfrawmaterials

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Закупка сырья</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RawMaterials" class="control-label"></label>
                <select asp-for="RawMaterials" class="form-control" asp-items="ViewBag.RawMaterials"></select>
            </div>
            <div class="form-group">
                <label asp-for="CountPur" class="control-label"></label>
                <input asp-for="CountPur" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee" class="control-label"></label>
                <select asp-for="Employee" class="form-control" asp-items="ViewBag.Employee"></select>
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

