@model Enterprises_manufacturing_goods.Budgets

@{
    ViewData["Title"] = "Добавление";
}

<h1>Создание новой записи</h1>

<h4>Бюджет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Budgetamount" class="control-label"></label>
                <input asp-for="Budgetamount" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="SalePercentage" class="control-label"></label>
                <input asp-for="SalePercentage" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label"></label>
                <input asp-for="Bonus" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

